<div class="row">
	<div class="col-lg-10">
		<div class="panel panel-default">
			<div class="panel-body">
				<div id="clearance" class="sign-in">
				  <h2><%= t(".title") %></h2>

				  <%= render partial: '/sessions/form' %>

				</div>
			</div>
		</div>
		
	</div>
</div>