<h1>Staticpages#help</h1>

This is a box for you to key in so that it generates the barcode.

This is to show you the list of barcode you want to generate.

A button to generate the barcodes.

A div to show the barcodes generated.

<%= form_tag("/staticpages/print_book_barcodes", method: "post") do %>
  <%= label_tag(:q, "Labels") %>
  <%= text_area_tag(:q) %>
  <%= submit_tag("Generate") %>
<% end %>