<h1>Staticpages#home</h1>
<p>Find me in app/views/staticpages/home.html.erb</p>
<ul>
	<% @books.each do |x|%>
<li><%= x.name %> , <%= x.barcode %></li>	

<% end %>

</ul>

<%= render partial: 'books/form'%>

