<div class="container-fluid">
	<div class="row">

		<div class="col-lg-4">
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%25E4%25BA%25AE%25E4%25BA%25AE%25E5%2584%25BF%25E7%25AB%25A5%25E5%259B%25BE%25E4%25B9%25A6%25E9%25A6%2586-Shining-Kids-Library-749156285124753%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=1065022730274089" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>
	</div>
</div>
