<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
  			<div class="panel-body">
					<%= render partial: 'books/form_q'%> 
				</div>
			</div>
		</div>


	</div>
</div>

