<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <style type="text/css">

	table.barby-barcode { border-spacing: 0; }
	tr.barby-row {}
	td.barby-cell { width: 0.5px; height: 40px; }
	td.barby-cell.on { background: #000; }

	</style>
  </head>
  <body onload='number_pages'>
    <div id="content">
      <p>Barcode labels</p>
<% if params[:q] %>
	<% @a = params[:q].split() %>
	<div class="container-fluid">
		<% @a.each do |x| %>
		<div class="row">
			<div class="col-lg-9" style="padding: 20px; float: left;">
			<p><% barcode = Barby::Code128B.new(x) %>
			<%= barcode.to_html(:class_name => 'confirmation-barcode').html_safe %>
			<%= x %></p>
			</div>
		</div>
		<% end %>
	</div>
<% end %>

    </div>
  </body>
</html>


