<style type="text/css">

table.barby-barcode { border-spacing: 0; }
tr.barby-row {}
td.barby-cell { width: 3px; height: 30px; }
td.barby-cell.on { background: #000; }

</style>
<% if params[:q] %>

	<div class="container-fluid">
		<% @a.each do |x| %>
		<div class="row">
			<div class="col-lg-9">
			<p><% barcode = Barby::Code128B.new(x) %>
			<%= barcode.to_html(:class_name => 'confirmation-barcode').html_safe %>
			<%= x %></p>
			</div>
		</div>
		<% end %>
	</div>
<% end %>
