<div class="container-fluid">

<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default">
		  <div class="panel-heading"><h1>List of books</h1></div>
		  	<div class="panel-body">
					<table class="table">
						<tr>
						<th>Name</th>
						<th>Author</th>
						<th>Isbn</th>
						<th>Barcode</th>
						<th>Loaned?</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						</tr>
						<%= render @books %>
					</table>
		  	</div>
		  </div>	
	</div>

	  <div class="col-lg-4">
			<div class="panel panel-default">
		  <div class="panel-heading"><h1>Editing book</h1></div>
		  	<div class="panel-body">
		  		<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path(@book) %>
