/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin: 33px;
}

.navbar-nav > li > a {
	padding-top: 13px;
	padding-bottom: 10px;
	line-height: 24px;
	text-transform: capitalize;
}

.thumbnail {
	display: block;
	padding: 20px;
	margin: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out;
	transition: border 0.2s ease-in-out;
	float: left;
	height: 400px;
	width: 220px;
}

#book-items a {
	display: inline-flex;
	width: 45%;
}

.pagination_light a {
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	border-width: 1px;
}

.current {
	padding: 7px;
	background-color: antiquewhite;
	border-radius: 5px;
}

a:hover, a:focus {
	color: #6c6c6c;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 5px;
}

.navbar input {
	width: 150px;
	font-size: 16px !important;
}

.navbar #submit {
	width: 100px;
	padding: 2px;
	text-transform: capitalize;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.42857143;
	color: #333333;
}

.form-control {
	display: block;
	width: 100%;
	height: 38px;
	padding: 6px 12px;
	font-size: 18px;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.background {
	position: absolute;
	opacity: 0.2;
	left: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
}


.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background-image: asset-url("splash.jpg");
	background-repeat: no-repeat;
	background-size: 3000px;
	position: absolute;
	height: 100%;
	width: 100%;
	}

.jumbotron p {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
	line-height: 25px;
}

.jumbotron h1, h3, p {
	color: white;
}

.content {
	z-index: 100;
	position: absolute;
}

#homepage {
	min-height: 650px; position:relative;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-default .navbar-brand {
	color: #000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #000;
	background-color: transparent;
}

.nav .btn.btn-default {
	padding: 0px 30px;
	margin-top: 11px;
}

#loan_details p {
	color: black;
}

.navbar-form {
	width: auto;
	border: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 3px;
	padding-bottom: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.submit-field a {
	width: 85px;
}

@media (min-width: 320px) and (max-width: 768px) {

.overlay {
	background-color: black;
	height: 100%;
	width: 100%;
	z-index: 10;
	position: absolute;
	bottom: 0;
	opacity: 0.5;
	left: 0;
}

.content {
	z-index: 100;
	position: absolute;
	width: 80%;
}

.container-fluid h1 {
	font-size:40px;
}
.container-fluid h2 {
	font-size: 30px;
}

.container-fluid h3 {
	font-size:25px;
}

.container-fluid p {
	font-size: 20px;
	line-height: 22px;
}

.container-fluid div {
	font-size: 20px;
}

#homepage {
	min-height: 900px; position:relative;
}

.panel-body p {
	font-size: 20px;
	color: black;
}

.panel-body a {
	display: inline-flex;
	width: 100%;
}


p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin: 20px;
}

.pagination_light a {
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	border-width: 1px;
	line-height: 3;
}

.navbar-default .navbar-brand {
	color: #777;
	width: 200px;
	height: 60px;
}

.navbar-brand {
	float: left;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 60px;
	width: 200px;
}


.navbar-form {
	margin-left: -15px;
	margin-right: -15px;
	padding: 10px 30px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	margin-top: 8px;
	margin-bottom: 8px;
}


.navbar input {
	width: 270px;
	font-size: 16px !important;
	margin: 5px;
}

.book_items {
	float: left;
	padding: 10px;
	width: 100%;
	font-size: 15px;
}

}

@media (min-width: 320px) and (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .navbar-collapse .btn.btn-default {
	width: 100px;
	float: left;
	margin:15px;
}
}