/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin: 33px;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 28px;
	text-transform: capitalize;
}

.thumbnail {
	display: block;
	padding: 20px;
	margin: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out;
	transition: border 0.2s ease-in-out;
	float: left;
	height: 400px;
	width: 220px;
}

.book_items {
	float: left;
	padding: 10px;
	width: 700px;
	height: 35px;
	font-size: 20px;
}

.pagination_light a {
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	border-width: 1px;
}

.current {
	padding: 7px;
	background-color: antiquewhite;
	border-radius: 5px;
}

a:hover, a:focus {
	color: #6c6c6c;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 5px;
}

.navbar input {
	width: 180px;
	font-size: 16px !important;
}

.navbar #submit {
	width: 100px;
	padding: 2px;
	text-transform: capitalize;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.42857143;
	color: #333333;
}

.form-control {
	display: block;
	width: 100%;
	height: 38px;
	padding: 6px 12px;
	font-size: 18px;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.background {
	position: absolute;
	opacity: 0.2;
	left: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
}


.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background-image: url("/assets/splash.jpg");
	height: 600px;
	background-size: 100%;
}

.jumbotron p {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
	line-height: 25px;
}

